div{
    width: 618px;
    background-color: green;
    margin: 20px;
}

#blok1:hover
{
background-color: yellow;
text-decoration: underline;
font-size: 20mm;
}

#blok2:hover
{
background-color: red;
text-decoration: underline;
font-size: 20mm;
}

#blok3:hover
{
background-color: blue;
text-decoration: underline;
font-size: 20mm;
}
